h1 {
    color: rgb(213, 186, 32);
}

body {
    background-image: url('/images/table.png');
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 200%;
}


#message-el {
    font-style: italic;
}

.button {
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkgreen;
    background-image: linear-gradient(to bottom right, #d5ba20, #fdb813);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px darkgreen;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px darkgreen;
}

.button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #d5ba20, #fdb813);
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}